# Nuxt & Build Output
.output
.data
.nuxt
.nitro
.cache
dist
.vercel

# Node Dependencies
node_modules/

# Prisma Client Gerado 
**/generated/prisma
**/generated/prisma/**
generated/

# AI Tooling & Configurações de Editores
.agents/
.claude/
.windsurf/
.vscode/
.fleet
.idea
.DS_Store
Thumbs.db

# Logs de Erros e Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
public/robots.txt